.fondo {
  background: rgba(21, 21, 21, 0.991);
  background-repeat: repeat-x;
  /* height: 100vh;
  width: 100vw; */
}
.box {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  /* width: 100vw; */
  height: 7vh;
  padding: 10px 0px;
  align-content: center;
  align-items: center;
  border-bottom: #d40404 2px solid;
  padding-bottom: 10px;
}
.foto {
  position: relative;
  width: 80px;
  height: 60px;
}
.foto2 {
  width: 20px;
  height: 10px;
}
.foto3 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contenedor {
  width: 500px;
  display: flex;
  align-items: center;
}

.buscador {
  position: relative;
  background: rgba(21, 21, 21, 0.991);
  width: 80%;
  height: 50px;
  font-family: poppins, sans-serif;
  padding-left: 16px;
  flex-shrink: initial;
  border-radius: 30px;
  padding: 1px 2px 1px 34px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 30px;
}

.contenedor_dos {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor_tres {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cuadrado_uno span {
  height: 100%;
}

.cuadrado_uno {
  display: flex;

  width: 30vw;
  height: 5vh;
  margin-top: 20px;
  margin-left: 400px;

  background: rgba(97, 97, 97, 0.991);

  border: 10px solid rgba(40, 39, 39, 0.822);
  font-family: poppins, sans-serif;
  padding-left: 16px;
  flex-shrink: initial;

  padding: 1px 2px 1px 34px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.cuadrado_dos {
  display: flex;

  width: 10%;
  height: 20%;

  background: rgba(97, 97, 97, 0.991);

  border: 10px solid rgba(40, 39, 39, 0.822);
  font-family: poppins, sans-serif;
  padding-left: 16px;
  flex-shrink: initial;

  padding: 1px 2px 1px 34px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.cuadrado_tres {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_cuatro {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_cinco {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_seis {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_siete {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_ocho {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_nueve {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

.cuadrado_diez {
  background: rgba(97, 97, 97, 0.991);
  background-repeat: repeat-x;

  border: 10px solid rgba(40, 39, 39, 0.822);
}

/*------------------------

/* Dropdown Button */
.dropbtn {
  position: relative;
  background-color: #e30101;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d40404;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*------------*/
body {
  font-family: "Arial", sans-serif;
  color: white;
  background-color: rgba(40, 39, 39, 0.822);
  margin: 0;
  padding: 0;
}

.ficha {
  background-color: rgba(40, 39, 39, 0.822);
  width: 1500px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(40, 39, 39, 0.822);
}

h1 {
  text-align: center;
}

.cabecera {
  margin-bottom: 20px;
}

.cabecera label {
  margin-right: 10px;
}

.nombre-raza-clase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 20px;
}
.apellido-subraza-subclase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 20px;
}

.nombre-raza-clase label {
  margin-right: 10px;
}

.atributos h2,
.otros-detalles h2 {
  margin-top: 20px;
}

.atributo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.otros-detalles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.otros-detalles label {
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
}
